* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.screen {
    background-color: #fcfcfc;
    height: 100%;
    width: 100%;
}

.container {
    width: 1480px;
    margin: auto;
}

.heading {
    font-size: 1.5em;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #404a51;
}

.card {
    list-style: none;
    background-color: white;
    border-radius: 5px;
    border: 2px solid #dfdfdf;
    width: 450px;
    height: 185px;
    display: inline-block;
    margin: 20px;
    overflow: auto;
}

.card:hover {
    box-shadow: 2px 2px 2px gray;
}

.card_icon {
    border-radius: 50%;
    padding-top: 26px;
    padding-bottom: 26px;
    padding-left: 20px;
    padding-right: 20px;
    float: left;
}

.card_img_container,
.card_details {
    display: inline;
}

.card_details {
    color: #83898d;
    font-size: 0.9em;
}

.card_name {
    color: #404a51;
    padding-top: 50px;
    font-size: 1.1em;
}

.card_email,
card_city {
    padding: 10px 0;
}

.modal_screen {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    z-index: 1;
    left: 0;
    top: 0;
    overflow: auto;
}

.modal_container {
    margin: 100px auto;
    background-color: #fff;
    width: 400px;
    border: 2px solid #dfdfdf;
    border-radius: 5px;
    z-index: 2;
    left: 0;
    top: 0;
    text-align: center;
    position: relative;
}

.modal_icon {
    border-radius: 50%;
    display: inline-block;
    margin: auto;
    margin-top: 40px;
    padding: 10px;
    clear: both;
}

.modal_name {
    font-size: 1.2em;
    padding: 10px 0;
}

.modal_email,
.modal_city {
    font-size: 0.9em;
    padding: 4px 0;
    color: #83898d;
}

.modal_telephone,
.modal_line,
.modal_address,
.modal_birthday {
    font-size: 0.9em;
    padding: 10px 0;
    color: #83898d;
}

.modal_birthday {
    padding-bottom: 40px;
}

.modal_line {
    font-size: 0.3em;
}

.modal_exit_button,
.modal_prev_button,
.modal_next_button {
    position: absolute;
    cursor: pointer;
    font-weight: bold;
    padding: 15px;
    color: gray;
    text-shadow: 3px 3px 3px lightgray, 1px 1px 1px gray;
    transition: 0.2s;
}

.modal_exit_button {
    right: 0;
    font-size: 1.5em;
}

.modal_prev_button {
    left: 0;
    top: 40%;
    font-size: 2em;
}

.modal_next_button {
    right: 0;
    top: 40%;
    font-size: 2em;
}

.modal_exit_button:hover,
.modal_prev_button:hover,
.modal_next_button:hover {
    text-shadow: 1px 1px 1px gray;
}

input {
    position: absolute;
    right: 10%;
    top: 20px;
    font-size: 1.2em;
    padding: 5px;
    border: 2px solid #dfdfdf;
}

@media only screen and (max-width: 1480px) {
    .container {
        width: 990px;
    }
}

@media only screen and (max-width: 990px) {
    .container {
        width: 495px;
    }
    input {
        top: 70px;
    }
}

@media only screen and (max-width: 480px) {
    input {
        width: 100%;
        position: static;
    }
}