* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.screen {
    background-color: #fcfcfc;
    height: 100%;
    width: 100%;
}

.container {
    width: 1600px;
    margin: auto;
}

.heading {
    font-size: 1.5em;
    padding-left: 20px;
    padding-top: 20px;
    color: #404a51;
}

li {
    list-style: none;
    background-color: white;
    border-radius: 5px;
    border: 2px solid #dfdfdf;
    width: 450px;
    height: 170px;
    display: inline-block;
    margin: 20px;
}

img {
    border-radius: 50%;
    padding: 21px;
    float: left;
}

.card_img_container,
.card_details {
    display: inline;
}

.card_details {
    color: #83898d;
    font-size: 0.9em;
}

.card_name {
    color: #404a51;
    padding-top: 50px;
    font-size: 1.1em;
}

.card_email,
card_city {
    padding: 10px 0;
}